<form class="form-horizontal">

    
    <ul class="nav nav-pills">
        <li class="active"><a href="#zbolt_octoscreen_general" data-toggle="tab">{{ _('General') }}</a></li>
        <li><a href="#zbolt_octoscreen_menu_structure" data-toggle="tab">{{ _('Menu Structure') }}</a></li>
    </ul>


    <div class="tab-content">
        <div id="zbolt_octoscreen_general" class="tab-pane active">
            <fieldset>
                <div class="alert">
                    <p>
                        Some of this settings applies only after OctoScreen restart.
                    </p>
                </div>

                <h4>{{ _('GCodes:') }}</h4>

                <div class="control-group">
                    <label class="control-label">{{ _('Auto Bed Leveling (Leave empty to hide button):') }}</label>

                    <div class="controls">
                        <textarea rows="2" class="block" data-bind="value: settings.plugins.zbolt_octoscreen.gcodes.auto_bed_level"></textarea>
                    </div>
                </div>


                <h4>{{ _('Filament Change:') }}</h4>

                <div class="control-group">
                    <label class="control-label">{{ _('Filament in length:') }}</label>

                    <div class="controls">
                        <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.zbolt_octoscreen.filament_in_length" />
                        <span class="add-on">mm</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{{ _('Filament out length:') }}</label>
                    <div class="controls">
                        <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.zbolt_octoscreen.filament_out_length" />
                        <span class="add-on">mm</span>
                    </div>
                </div>

                <h4>{{ _('Other:') }}</h4>
                <div class="control-group">
                    <label class="control-label">{{ _('Invert Z axis buttons on move screen:') }}</label>
                    <div class="controls">
                        <input type="checkbox" data-bind="checked: settings.plugins.zbolt_octoscreen.z_axis_inverted" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ _('Tool Changer:') }}</label>
                    <div class="controls">
                        <input type="checkbox" data-bind="checked: settings.plugins.zbolt_octoscreen.toolchanger" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div id="zbolt_octoscreen_menu_structure" class="tab-pane">
            <fieldset>
                <textarea rows="25" class="block" data-bind="value: settings.plugins.zbolt_octoscreen.menu_structure"></textarea>
            </fieldset>

            <div>
                <div><small><a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.form-horizontal', container: '.hide' }"><i class="fa fa-caret-right"></i> {{ _('Default value') }}</a></small></div>
                <div class="hide">
                    <code style="white-space: pre-wrap; display: block;">{{ plugin_zbolt_octoscreen_default_menu_structure | safe }}</code>
                </div>
            </div>
        </div>
    </div>
</form>
